/* 오픈 채팅방 */
.wrap-body {
	display: flex;
	gap: 10px;
}

.wrap-chatbox {
	display: flex;
	z-index : 2;
	width : 400px;
	height : 500px;
	color : black;
	border: 2px solid white;
	flex-direction : column;
}

.topbar {
	background-color : blue;
	text-align: end;
	height: 25px;
}

.topbar > .close-chat {
	line-height : 18px;
}

.content-box {
	background-color : rgb(120, 200, 255);
	width : 380px;
	height : 441px;
	padding: 10px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}
.content-box > .notice {
	background-color : #aaa;
	border-radius: 10px;
	color: white;
	padding: 0 5px;
	width: fit-content;
	word-break: break-all;
	align-self: center;
}

.content-box > .msgbox {
	background-color : yellow;
	border-radius: 10px;
	color: black;
	padding: 0 5px;
	width: fit-content;
	word-break: break-all;
	align-self: end;
}

.content-box > .receivebox {
	background-color : lawngreen;
	border-radius: 10px;
	color: black;
	padding: 0 5px;
	width: fit-content;
	word-break: break-all;
}

.input-box {
	display: flex;
	flex-direction: row;
	height: 30px;
}

#inputmsg {
	color : black;
	flex-grow: 1;
}

#btn-sendmsg {
	color : black;
	flex-shrink : 0;
	width: 50px;
}

.wrap-members {
	display:flex;
	background-color: rgba(255, 165, 0, .7);
}
