/* 오픈 채팅방 */
.wrap-body {
	display: flex;
	gap: 10px;
}

.wrap-chatbox {
	display: flex;
	z-index : 2;
	width : 400px;
	height : 500px;
	color : black;
	border: 2px solid white;
	flex-direction : column;
}

.topbar {
	background-color : blue;
	text-align: end;
	height: 25px;
}

.topbar > .close-chat {
	line-height : 18px;
}

.content-box {
	background-color : #CCFFCC;
	width : 380px;
	height : 441px;
	padding: 10px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}
.content-box > .notice {
	background-color: white;
    border-radius: 5px;
    color: black;
    padding: 0 5px;
    width: fit-content;
    word-break: break-all;
    align-self: center;
    border: 2px solid #ccc;
}

.content-box > .msgbox {
	background-color : white;
	border-radius: 10px;
	color: black;
	padding: 5px 10px;
	width: fit-content;
	word-break: break-all;
	align-self: end;
	border: 2px solid #66CC66;
}

.content-box > .receivebox {
	background-color : #66CC66;
	border-radius: 10px;
	color: white;
	padding: 5px 10px;
	width: fit-content;
	word-break: break-all;
}

.input-box {
	display: flex;
	flex-direction: row;
	height: 30px;
}

#inputmsg {
	color : black;
	flex-grow: 1;
	border: 3px solid #66CC66;
}

#btn-sendmsg {
	color : black;
	flex-shrink : 0;
	width: 50px;
	background-color: #98FB98;
    border: 2px solid #90EE90;
}

.wrap-members {
	display:flex;
	flex-direction: column;
	padding: 6px;
	gap: 5px;
	background-color: rgba(255, 194, 205, 0.5);;
	border-radius: 8px;
}

.member {
	background-color: white;
    border-radius: 20px;
    padding: 5px 15px;
    border: 3px solid #FF6289;
}
